body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #abaaaa;
  color: #720707;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

i:hover{
  cursor: pointer;
}

label{
  font-size: 20px;
}

textarea {
  width: 300px;
  height:  300px;
}

.single-form-page{
  height: 100%;
  padding-top: 50px;
  padding-bottom : 50px;
}
.card{
  background: #d0ababb2;
  color: #000;
  border-radius: 1rem;
}

.modal-content{
  background: #abaaaa;
  color: #720707;
}

.card-title:hover{
  cursor: pointer;
  font-weight: bold;
}

.form-control{
  background: #c5aaaa81;
}

.text-wrap{
  word-wrap: break-word;
  
}

.showdesc{
  border: 2px solid #c8c8c8;
  border-radius: 20px;
  background: #896e6e4d;
  padding: 10px 15px ;
  word-wrap: break-word;
}